<app-navbar/>
<div class="main">
    <div class="landing">
        <div class="left">
            <img src="../assets/obama.png" alt="">
        </div>
        <div class="right">
            <h1>welcome me</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel dolor <br> laudantium perspiciatis vero dignissimos fugiat nihil ipsum asperiores. <br> Corrupti nisi, deleniti molestiae placeat mollitia repellendus reprehenderit <br> velit, excepturi sit delectus hic expedita, esse error!<br>  Quas fugit qui quasi, neque voluptate adipisci dolorum molestias <br> ratione impedit suscipit officiis necessitatibus aliquid aliquam!</p>
            <div class="buttons">
                <button class="btn1">explore more</button>
                <button class="btn2">hire me</button>
            </div>
        </div>
    </div>
    <div class="services">
        <div class="box">
            <h1>about me</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet cumque distinctio velit! Animi at, sed dolorem eum ducimus, dignissimos facilis impedit laudantium nobis eaque exercitationem illum eius rerum ut ipsum.</p>
        </div>
        <div class="box">
            <h1>projects</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet cumque distinctio velit! Animi at, sed dolorem eum ducimus, dignissimos facilis impedit laudantium nobis eaque exercitationem illum eius rerum ut ipsum.</p>
        </div>
        <div class="box">
            <h1>skills</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet cumque distinctio velit! Animi at, sed dolorem eum ducimus, dignissimos facilis impedit laudantium nobis eaque exercitationem illum eius rerum ut ipsum.</p>
        </div>
        <div class="box">
            <h1>services</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet cumque distinctio velit! Animi at, sed dolorem eum ducimus, dignissimos facilis impedit laudantium nobis eaque exercitationem illum eius rerum ut ipsum.</p>
        </div>
    </div>
    <div class="card-section">
        <h3>Following our activities</h3>
        <div class="cards">
            <div class="card">
                <img src="../assets/obama.png" alt="">
            </div>
            <div class="card">
                <img src="../assets/obama.png" alt="">
            </div>
            <div class="card">
                <img src="../assets/obama.png" alt="">
            </div>
            <div class="card">
                <img src="../assets/obama.png" alt="">
            </div>
            <div class="card">
                <img src="../assets/obama.png" alt="">
            </div>
            <div class="card">
                <img src="../assets/obama.png" alt="">
            </div>
            <div class="card">
                <img src="../assets/obama.png" alt="">
            </div>
            <div class="card">
                <img src="../assets/obama.png" alt="">
            </div>
        </div>
    </div>
</div>